<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <title>Bien dans ses baskets</title>
	  <meta charset="utf-8"/>
	  <link rel="stylesheet" type="text/css" href="css/main.css"/>
	  <link rel="stylesheet" type="text/css" href="css/header.css"/>
	  <link rel="stylesheet" type="text/css" href="css/nav.css"/>
	  <link rel="stylesheet" type="text/css" href="css/footer.css"/>
	  <link rel="stylesheet" type="text/css" href="css/article.css"/>
	  <link rel="stylesheet" type="text/css" href="css/commentaire.css"/>
	  <link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
	  <script type="text/javascript" src="js/javascript.js"> </script>
	</head>
	 
	<body>
		<header th:replace="~{fragments :: header}"></header>
		
		<nav th:replace="~{fragments :: nav}"></nav>	
										
	<section id="conteneur-article">																	
		<h1>Ajouter une tendance</h1>
		<p>Partagez-nous ce que vous avez dénicher dans votre boutique préférée !</p>
		<hr/>
		<form id="add_formulaire" enctype="multipart/form-data" action="ajout" method="POST">
		<div id="tableau">
		   <p>
		      	<label class="col1">Catégorie : </label>
		      	<span>
			      	<select name="categorie" class="add_form">
						<option th:each="categorie : ${categories}" th:value="${categorie.idCategorie}" th:text="${categorie.nomCategorie}"></option>
					</select>
				</span>
		   </p>
		   <p class="ligne-tableau">
		      <label class="col1">Prix : </label>
		      <span class="form-display"><input class="add_form" type="text" id="ajout_prix" required name="prix" maxlength="6" onFocus="inf_prix1()" onBlur="inf_prix2()"/></span>
		      <div class="form-display">
		      	<div id="check_prix1" class="check1">&#10004;</div>
		      	<div id="check_prix2" class="check2">X</div>
		      </div>
		   </p>
		   <p id="info_prix" class="indication">Exemple : 120.00</p>
		   <p class="ligne-tableau">
		      <label class="col1">Marque : </label>
		      <span><input class="add_form" type="text" required name="marque" id="ajout_marque" maxlength="15" onFocus="inf_marque1()" onBlur="inf_marque2()"/></span>
		      <div class="form-display">
		      	<div id="check_marque1" class="check1">&#10004;</div>
		      	<div id="check_marque2" class="check2">X</div>
		      </div>
		   </p>
		   <p id="info_marque" class="indication">La marque doit comporté entre 2 et 15 caractères.</p>
		   <p class="ligne-tableau">
		      <label class="col1">Lien : </label>
		      <span><input class="add_form" type="text" required name="lien" id="ajout_lien" maxlength="255" onFocus="inf_lien1()" onBlur="inf_lien2()"/></span>
		      <div class="form-display">
		      	<div id="check_lien1" class="check1">&#10004;</div>
		      	<div id="check_lien2" class="check2">X</div>
		      </div>
		   </p>
		   <p id="info_lien" class="indication">Le lien doit comporté entre 2 et 255 caractères.</p>
		    <p>
		      <label class="col1">Photo : </label>
		      <span><input class="upload_photo" type="file" required name="photo"></span>
		   </p>
		   <p>
		      	<label class="col1">Présent sur : </label>
		     	<span class="col2">
		      		<input type="radio" name="site" value="Zalando"/>Zalando
					<input type="radio" name="site" value="Jules"/>Jules
					<input type="radio" name="site" value="Brice"/>Brice
					<input type="radio" name="site" value="3 Suisses"/>3 Suisses
					<input type="radio" name="site" value="Sarenza"/>Sarenza
					<input type="radio" name="site" value="Autre"/>Autre...
				</span>
		   </p>
		   </div>
		
			<p class="btn_enregistrer"><input class="submit" type="submit" value="Enregistrer"></p>
		</form>
	</section>

<footer th:replace="~{fragments :: footer}"></footer>
	
</body>
 
</html>