<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <title>Bien dans ses baskets</title>
	  <meta charset="utf-8"/>
	  <link rel="stylesheet" type="text/css" href="css/main.css"/>
	  <link rel="stylesheet" type="text/css" href="css/header.css"/>
	  <link rel="stylesheet" type="text/css" href="css/nav.css"/>
	  <link rel="stylesheet" type="text/css" href="css/footer.css"/>
	  <link rel="stylesheet" type="text/css" href="css/article.css"/>
	  <link rel="stylesheet" type="text/css" href="css/commentaire.css"/>
	  <link rel="stylesheet" type="text/css" href="css/liste.css"/>
	  <script type="text/javascript" src="js/javascript.js"> </script>
	</head>
	 
	<body>
		<header th:replace="~{fragments :: header}"></header>
		
		<nav th:replace="~{fragments :: nav}"></nav>

	<section id="conteneur-article">
		<h1>Liste des articles</h1>
		
		<div id="list">
			<p id="first-ligne">
				<span class="entete colonne">#</span>
				<span class="entete colonne">Photo</span>
				<span class="entete colonne">Categorie</span>
				<span class="entete colonne">Marque</span>
				<span class="entete colonne">Site</span>
				<span class="entete colonne">Prix</span>
				<span class="entete colonne"></span>
			</p>
			<p class="autreLigne" th:each="article : ${articles}">
				<span class="colonne text-colonne" th:text="${article.idArticle}"></span>
				<span class="colonne"><a th:href="'consultation?article='+${article.idArticle}"><img th:src="'photoarticle?id='+${article.idArticle}" alt="photo article"/></a></span>
				<span class="colonne text-colonne" th:text="${article.categorie.nomCategorie}"></span>
				<span class="colonne text-colonne" th:text="${article.marque}"></span>
				<span class="colonne text-colonne" th:text="${article.site}"></span>
				<span class="colonne text-colonne" th:text="${#numbers.formatDecimal(article.prix,0,2)}"></span>
				<span class="colonne">
					<a th:href="'modification?art='+${article.idArticle}"><img class="icon_list" src="img/file.png" alt="Modifier l'article"/></a>
					<a th:href="'javascript:ConfirmMessage('+${article.idArticle}+')'"><img class="icon_list" src="img/delete.png" alt="Supprimer l'article"/></a>
				</span>
			</p>
		</div>

	</section>

	<footer th:replace="~{fragments :: footer}"></footer>
	
</body>
 
</html>