<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <title>Bien dans ses baskets</title>
	  <meta charset="utf-8"/>
	  <link rel="stylesheet" type="text/css" href="css/main.css"/>
	  <link rel="stylesheet" type="text/css" href="css/header.css"/>
	  <link rel="stylesheet" type="text/css" href="css/nav.css"/>
	  <link rel="stylesheet" type="text/css" href="css/footer.css"/>
	  <link rel="stylesheet" type="text/css" href="css/article.css"/>
	  <link rel="stylesheet" type="text/css" href="css/commentaire.css"/>
	  <link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
	  <script type="text/javascript" src="js/javascript.js"> </script>
	</head>
	 
	<body>
		<header th:replace="~{fragments :: header}"></header>
		
		<nav th:replace="~{fragments :: nav}"></nav>	
									
	<section id="conteneur-article">																	
		<h1>Modifier des informations</h1>
		<p>Vous avez rep&eacute;rer une erreur ou les informations ne sont plus &agrave; jour ?</p>
		<p>Aidez-nous &agrave; mettre &agrave; jour les articles !</p>
		<p th:text="'ARTICLE #'+${article.idArticle}"></p>
		<hr/>
		<a class="art-modif" th:href="'consultation?article='+${article.idArticle}">
			<img th:src="'photoarticle?id='+${article.idArticle}" alt="Photo de l'article à modifier">
		</a>
		<form id="add_formulaire" action="modification" method="POST">
		<div id="tableau">
			<input type="hidden" name="id" th:value="${article.idArticle}"/>
		   <p class="ligne-tableau">
		      <label class="col1">Prix (&#128;) : </label>
		      <span><input class="add_form" type="text" required name="prix" id="ajout_prix" maxlength="6" th:placeholder="${#numbers.formatDecimal(article.prix,0,2)}" onFocus="inf_prix1()" onBlur="inf_prix2()"/></span>
		  	  <div class="form-display">
		      	<div id="check_prix1" class="check1">&#10004;</div>
		      	<div id="check_prix2" class="check2">X</div>
		      </div>
		   </p>
		   <p id="info_prix" class="indication">Exemple : 120.00</p>
		   <p class="ligne-tableau">
		      <label class="col1">Marque : </label>
		      <span><input class="add_form" type="text" required name="marque" id="ajout_marque" th:placeholder="${article.marque}" maxlength="15" onFocus="inf_marque1()" onBlur="inf_marque2()"/></span>
		   		 <div class="form-display">
		      	<div id="check_marque1" class="check1">&#10004;</div>
		      	<div id="check_marque2" class="check2">X</div>
		      </div>
		   </p>
		   <p id="info_marque" class="indication">La marque doit comport&#233; entre 2 et 15 caract&#232;res.</p>
		   <p class="ligne-tableau">
		      <label class="col1">Lien : </label>
		      <span><input class="add_form" type="text" required name="lien" id="ajout_lien" th:placeholder="${article.lien}" maxlength="255" onFocus="inf_lien1()" onBlur="inf_lien2()"/></span>
		   	<div class="form-display">
		      	<div id="check_lien1" class="check1">&#10004;</div>
		      	<div id="check_lien2" class="check2">X</div>
		      </div>
		   </div>
		   </p>
		   <p id="info_lien" class="indication">Le lien doit comport&#233; entre 2 et 255 caract&#232;res.</p>
		
			<p id="modif_btn" class="modifier-btn"><input class="submit" type="submit" value="Modifier"></p>
		</form>
	</section>

	<footer th:replace="~{fragments :: footer}"></footer>
	
</body>
 
</html>