.article_presentation a{
	color:#383838;
}

.comm{
	background-color:grey;
	color:white;
	margin-bottom:5px;
	border-radius:10px;
	padding:5px;
	padding-left:25px;
	font-family:Trebuchet MS;
}

.nom_co{
	background-color:white;
	color:grey;
	margin-right:20px;
	padding:10px;
	border-radius:5px;
	font-size:18px;
	margin-top: 8px;
	text-transform: uppercase;
	margin-bottom:0;
}

.date_co{
	font-size:12px;
	margin-top:0;
	font-style:italic;
}

.comm_co{
	font-size:16px;
	font-weight:bold;
	margin-right:20px;
}

#presentation_photo{
	margin-left:110px;
	margin-bottom:0;
}

#presentation_marque{
	font-size:40px;
	font-weight:bold;
	margin-bottom:0;
	text-align:center;
	margin-top:0;
}

#presentation_prix{
	font-size:30px;
	width:300px;
	text-align:center;
	background-color:brown;
	color:white;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0;
}

#presentation_lien{
	margin-top:10px;
	text-align:center;
}

.btn_comm{
	display: inline-block;
}

#conteneur_modif_supp{
	text-align:center;
}

#btn_modif{
	padding: 11px;
	padding-left: 90px;
	padding-right: 90px;
}