footer{
	background-color:#383838;
	color: white;
	bottom:0;
	right:0;
	left:0;
	position:fixed;
}

#newsletter{
	width:620px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:15px;
}

#newsletter input{
	line-height:40px;
	font-family:Trebuchet MS;
	font-size:20px;
	width:300px;
	padding-left:10px;
}

#submit_newsletter{
	background-color:brown;
	color: white;
	text-transform:uppercase;
	border: none;
	border-radius: 0 10px 10px 0;
}

#submit_newsletter:hover{
	background-color:green;
	cursor:pointer;
	-webkit-transition: all 0.2s ease-out; /*compatibilité chrome*/
   -moz-transition: all 0.2s ease-out; /*compatibilité firefox*/
   -o-transition: all 0.2s ease-out; /*compatibilité opéra*/
   transition: all 0.2s ease-out; /* Autre navigateur */
}