header{
	margin-top:20px;
	top:0;
	right:0;
	left:0;
}

header p{
	text-align:center;
}


.animation-logo{
	animation-name: moveLogo;
	animation-duration:4s;
}

@keyframes moveLogo{
	0%{
		margin-right:80%;
	}
}