body{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}

h1{
	font-size:30px;
	font-family: Trebuchet MS;
	text-transform: uppercase;
	color: white;
	background-color: #383838;
	padding-left:20px;
	line-height:50px;
	border-radius: 0 25px 25px 0;
}

h2{
	text-align:center;
	font-family:Trebuchet MS;
	font-size:19px;
	line-height:50px;
	background-color: #383838;
	color: white;
	margin-bottom:0;
}

h3{
	font-family:Trebuchet MS;
	font-weight:bold;
	text-transform: uppercase;
}

a{
	text-decoration:none;
	color: white;
}


.submit{
	border: none;
	margin-top:20px;
	width:250px;
	text-transform:uppercase;
	background-color:brown;
	color: white;
	border-radius: 10px;
	cursor:pointer;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:bold;
	line-height:40px;
}

.submit:hover{
	background-color:green;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out; /*compatibilité chrome*/
   -moz-transition: all 0.2s ease-out; /*compatibilité firefox*/
   -o-transition: all 0.2s ease-out; /*compatibilité opéra*/
   transition: all 0.2s ease-out; /* Autre navigateur */
}

#add_commentaire p{
	text-align: center;
}

#add_commentaire p .add_comm, .add_form{
	line-height: 40px;
	font-size: 18px;
	font-family: Trebuchet MS;
	width: 500px;
	border-radius: 10px;
	text-align: center;
	border-style: none;
	border: 1px solid #383838;
}

.upload_photo{
	width: 500px;
	font-size: 15px;
}

#tableau{
	width:800px;
}

#tableau p .col1{
	display:inline-block;
	width:120px;
	text-align: right;
	line-height: 40px;
}


.haut_page{
	background-color: #383838;
	padding: 20px;
	font-family: Trebuchet MS;
	border-radius: 20px;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	margin-top: 50px;
	vertical-align: middle;
}

.haut_page:hover{
	background-color: green;
	-webkit-transition: all 0.2s ease-out; /*compatibilité chrome*/
   -moz-transition: all 0.2s ease-out; /*compatibilité firefox*/
   -o-transition: all 0.2s ease-out; /*compatibilité opéra*/
   transition: all 0.2s ease-out; /* Autre navigateur */
}

.btn_enregistrer{
	text-align:center;
}

.modifier-btn{
	margin-left:330px;
}

.art-modif{
	margin-left:170px;
}

.img-consult{
	max-width:600px;
}

.check1{
	color:white;
	font-size:20px;
	font-weight:bold;
	font-family:Trebuchet MS;
	background-color: green;
	border-radius:30px;
	padding:5px;
	width:40px;
	margin-left:20px;
	text-align:center;
}

.check2{
	color:white;
	font-size:20px;
	font-weight:bold;
	font-family:Trebuchet MS;
	background-color: red;
	border-radius:30px;
	padding:5px;
	width:40px;
	margin-left:20px;
	text-align:center;
}

.indication, .check1, .check2{
	display:none;
}

.indication{
	margin-left:130px;
	font-style:italic;
}

.form-display, .ligne-tableau{
	display:inline-block;
}