@media screen and (max-width: 800px)
{
   footer{
   		display: none;
   }

   body{
      width: 320px;
   }
 
   h1{
      font-size: 18px;
   }
   nav{
      width:300px;
      margin-left: 5px;
   }

   .col1_nav{
      height:50px;
   }

   .col2_nav{
      padding-top: 16px;
      font-size: 14px;
   }

   #conteneur-article{
   	width: 300px;
	  margin-left: auto;
	  margin-right: auto;
     margin-top: 800px;
     margin-bottom: 20px;
   }

   .animation-logo{
      width:300px;
   }

   .conteneur-image{
      width:300px;
   }

   #logo{
      width:310px;
   }

   .conteneur-img{
      overflow:hidden;
   }

   .conteneur-img img{
      width:310px;
   }

   .article_hautpage{
      width:300px;
   }

   #presentation_photo img{
      width:300px;
   }

   #presentation_photo{
      margin-left: 0;
   }

   #conteneur-article p#presentation_marque, #conteneur-article p#presentation_prix{
      font-size: 26px;
   }

   #presentation_lien .comm_co, #conteneur-article p, h2{
      font-size:15px;
   }

   #conteneur-article div.comm p.date_co{
      font-size: 12px;
   }

   #add_commentaire p .add_comm{
      width: 280px;
      font-size: 12px;
   }

   #tableau{
      width: 300px;
   }

   #tableau p .col1, h4.nom_co, #conteneur-article p.comm_co{
      font-size: 13px;
   }

   #add_formulaire p .add_form{
      width: 150px;
	  font-size:12px;
   }

   .upload_photo{
      font-size: 7px;
      width:150px;
   }

   .col2{
      font-size: 11px;
   }
}