<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/actualites.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>
		
				
		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="actualites">Nos r&eacute;alisations</a></li>
				<li><a href="espace-presse">Espace presse</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">
			<h2>Actualit&eacute;s >> Nos r&eacute;alisations</h2>

			<section class="article" th:each= "chantier : ${actualites}">
				<h1 th:text="${chantier.titre}"></h1>
				<div class="align-article">
					<img th:src="${chantier.url_photo}" alt="article"/>
				</div>
				<div class="align-article presentation-article">
					<p th:text="${chantier.ville} +' ('+ ${chantier.code_postal} +') '"><br/></p>
					<p th:text="${chantier.date}"></p>
					<p th:text="${chantier.maitre_ouvrage}"></p>
					<p th:text="${chantier.client}"></p>
					<p class="descriptif-article" th:utext="${chantier.description}"><br/>
				</div>
			</section>
			
			

		</section>

		
		<footer th:replace="~{fragments :: footer}"></footer>
		
		
		
	
	</body>
</html>