<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/actualites.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header>
			<ul>
				<li><a href="groupe.html">Groupe</a></li>
				<li><a href="metiers.html">Métiers</a></li>
				<li><a href="engagements.html">Engagements</a></li>
				<li><a href="index.html"><img src="img/logo.png" alt="Logo VRD France"/></a></li>
				<li><a href="actualites.html">Actualités</a></li>
				<li><a href="carrieres.html">Carrières</a></li>
				<li><a href="contact.html">Contactez-nous</a></li>
			</ul>

			
		</header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="actualites.html">Nos réalisations</a></li>
				<li><a href="espace-presse.html">Espace presse</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">
			<h2>Actualités >> Nos réalisations</h2>

			<section class="article">
				<h1>Reconstruction d'un bâtiment R+3</h1>
				<div class="align-article">
					<img src="img/photo1.png" alt="article"/>
				</div>
				<div class="align-article presentation-article">
					<p>
					LILLE (59000)<br/>
					20/08/2016<br/>
					Maitre d'ouvrage : Métropole Européenne de Lille</br>
					Client : Groupe Sylvagreg<br/></p>
					<p class="descriptif-article">" Nous avons été engagés sur ce chantier afin de réaliser la démolition de l'ancien bâtiment existant.Nous avons été engagés sur ce chantier afin de réaliser la démolition de l'ancien bâtiment existant.Nous avons été engagés sur ce chantier afin de réaliser la démolition de l'ancien bâtiment existant.Nous avons été engagés sur ce chantier afin de réaliser la démolition de l'ancien bâtiment existant.<br/>
				</div>
			</section>
			<section class="article">
				<h1>Réalisation d'un talus anti-bruit</h1>
				<div class="align-article">
					<img src="img/photo2.png" alt="article"/>
				</div>
				<div class="align-article presentation-article">
					<p>
					SAINT-OMER (62400)<br/>
					23/06/2016<br/>
					Maitre d'ouvrage : Métropole Européenne de Lille</br>
					Client : SNCF<br/></p>
					<p class="descriptif-article">" La mission que nous nous sommes vus confier a été de réaliser un talus de 5 m de haut et de 230 m de long. L'objectif de ces travaux sont de réduire significativement les bruits occassionés par le passage des trains pour le confort des riverains. Ce talus sera par la suite végétalisé.<br/>
				</div>
			</section>

		</section>

		<footer>
			<section id="footer-box">
					<div>
						<h2 class="titre">Navigation</h2>
						<hr/>
						<ul>
							<li><a href="index">Accueil</a></li>
							<li><a href="activites">Nos métiers</a></li>
							<li><a href="materiels">Matériels et équipements</a></li>
							<li><a href="actualites">Actualités</a></li>
							<li><a href="galerie">Réalisations</a></li>
							<li><a href="">Mentions légales</a></li>
							<li><a href="">Plan du site</a></li>
							<li><a href="contact">Contactez-nous</a></li>
						</ul>
					</div>
					<div>
						<h2 class="titre">Coordonnées</h2>
						<hr/>
						<ul>
							<li>VRD France</li>
							<li>940 Langhemast Straete</li>
							<li>59670 - NOORDPEENE </li>
							<br/>
							<li>Tél : 06.03.62.73.06 </li>
							<li>contact@vrd-france.fr </li>
						</ul>
					</div>
					<div>
						<h2 class="titre">Heures d'ouverture</h2>
						<hr/>
						<p>Nous sommes à votre disposition du Lundi au Vendredi de 7H00 à 18H00. N'hésitez pas à nous contacter pour tout rendez-vous ou demande de renseignements supplémentaires.</p>
					</div>
				</section>
		</footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>