<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<script src="js/javascript.js"></script>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Dirigeants"</h2>
			
		</section>
		
		<p class="ligne-guide">Liste des dirigeants</p>
		
		<table class="table-admin">
			<tr class=ligne1>
				<td>Dirigeant</td>
				<td>Fonction</td>
				<td>Modifier / Supprimer</td>
			</tr>
			<tr th:each= "dirigeant : ${dirigeants}">
				<td th:text="${dirigeant.nom}"></td>
				<td th:text="${dirigeant.fonction}"></td>
				<td>
					<a th:href="'adm-mdir?dir='+${dirigeant.ID_individu}"><img class="icon_list" src="img/file.png" alt="Modifier"/></a>
					<a th:href="'javascript:ConfirmDirigeant('+${dirigeant.ID_individu}+')'"><img class="icon_list" src="img/delete.png" alt="Supprimer"/></a>
				</td>
			</tr>
		</table>
		
		<p class="ligne-guide">Ajouter un nouveau dirigeant</p>

			<section class="list-edit">
				<form action="adm-dir" method="POST" enctype="multipart/form-data">
					<p class="ligne-tableau form-display">
						<label for="dirigeantnom">Nom</label>
						<span class="form-display"><input class="add_form" type="text" name="dirigeantnom" id="add_nom" required maxlength="50" onFocus="inf_nom1()" onBlur="inf_nom2()"/>
						<div class="form-display">
					      	<div id="check_nom1" class="check1">&#10004;</div>
					      	<div id="check_nom2" class="check2">X</div>
					    </div>
						<p id="info_nom" class="indication">Le nom du dirigeant doit comporter entre 3 et 50 caracteres</p>
					</p>
					<p class="ligne-tableau form-display">
						<label for="dirigeantfonction">Fonction</label>
						<span class="form-display"><input class="add_form" type="text" name="dirigeantfonction" id="add_fonction" required maxlength="50" onFocus="inf_fonction1()" onBlur="inf_fonction2()"/>
						<div class="form-display">
					      	<div id="check_fonction1" class="check1">&#10004;</div>
					      	<div id="check_fonction2" class="check2">X</div>
					    </div>
						<p id="info_fonction" class="indication">La fonction du dirigeant doit comporter entre 3 et 50 caracteres</p>
					</p>
					<p class="ligne-tableau form-display">
						<label for="dirigeantpresentation">Pr&eacute;sentation</label>
						<span class="form-display"><input class="add_form" type="text" name="dirigeantpresentation" id="add_presentation" required maxlength="100" onFocus="inf_present1()" onBlur="inf_present2()"/>
						<div class="form-display">
					      	<div id="check_presentation1" class="check1">&#10004;</div>
					      	<div id="check_presentation2" class="check2">X</div>
					    </div>
						<p id="info_presentation" class="indication">Le pr&eacute;sentation doit comporter entre 40 et 100 caracteres</p>
					</p>
					<p class="ligne-tableau">
						<label for="titre">Photo</label>
						<span class="form-display"><input class="add_form" type="file" name="dirigeantphoto" required/></span>
					</p>
					<input type="submit" class="submit" value="Ajouter"/>
				</form>
		
			<a class="back-btn" href="admin">Retour</a>
			</section>
			
			
		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
</html>