<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="espace-admin">Administration</a></li>
				<li><a href="">Me déconnecter</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Carrières"</h2>
			
		</section>

		<p class="ligne-guide">Ajouter une offre d'emploi</p>

		<form action="" method="POST">
		<div>
			<label for="intitule">Intitulé du poste</label>
			<input type="text" name="intitule"/>
		</div>
		<div>
			<label for="desc-offre">Description de l'offre</label>
			<input type="textarea" name="desc-offre" class="pst"/>
		</div>
			<input class="submit" type="submit" value="Modifier"/>
			</form>

		<p class="ligne-guide">Mot d'accueil des dirigeants</p>
			<form action="" method="POST">
				<input class="submit" type="submit" value="Modifier"/>
			</form>


		<section class="list-edit">
			<a class="back-btn" href="espace-admin">Retour</a>
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>