<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<link rel="stylesheet" type="text/css" href="css/carrieres.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="carrieres">Offres d'emplois</a></li>
				<li class="candid-li"><a href="candidature-s.html">Candidature spontann&eacute;e</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Carri&egrave;res >> Candidature envoy&eacute;e</h2>

			<p>Nous vous remercions pour l'int&eacute;r&ecirc;t que vous portez à notre soci&eacute;t&eacute;.</br>
			Nous &eacute;tudions votre profil avec la plus grande attention et nous vous tiendrons inform&eacute; dans les plus brefs d&eacute;lais.</p>
			
		</section>

			<section class="list-metier">
				<a class="back-btn">Retour</a>
			</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>