<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<link rel="stylesheet" type="text/css" href="css/carrieres.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="carrieres.html">Offres d'emplois</a></li>
				<li class="candid-li"><a href="candidature-s.html">Candidature spontannée</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Carrières >> Candidature envoyée</h2>

			<p>Nous vous remercions pour l'intérêt que vous portez à notre société.</br>
			Nous étudions votre profil avec la plus grande attention et nous vous tiendrons informé dans les plus brefs délais.</p>
			
		</section>

			<section class="list-metier">
				<a class="back-btn">Retour</a>
			</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>