<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/carrieres.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="carrieres.html">Offres d'emplois</a></li>
				<li class="candid-li"><a href="candidature-s.html">Candidature spontannée</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">
			<h2>Carrières >> Offres d'emplois</h2>

			<div class="offre-emploi">
				<div class="align-offre div-offre1">
					<h3>Conducteur de travaux confirmée (Réf : XXX)</h3>
					<h4>Publié le XX/XX/XXXX</h4>
					<p class="text-offre">En tant que conducteur de travaux, vos missions principales sont de :<br/>
					En étroite collaboration avec le directeur de travaux, vous avez pour mission le pilotage de chantiers en tertiaire et industrie. Vous aurez à :<br/>
					- Préparer et installer vos chantiers<br/>
					- Superviser la gestion des moyens humains et matériels</p>
				</div>
				<div class="align-offre">
					<p class="btn-consulter"><a href="consulter-offre.html">Consulter</a></p>
				</div>
			</div>

			<div class="offre-emploi">
				<div class="align-offre div-offre1">
					<h3>Conducteur de travaux confirmée (Réf : XXX)</h3>
					<h4>Publié le XX/XX/XXXX</h4>
					<p class="text-offre">En tant que conducteur de travaux, vos missions principales sont de :<br/>
					En étroite collaboration avec le directeur de travaux, vous avez pour mission le pilotage de chantiers en tertiaire et industrie. Vous aurez à :<br/>
					- Préparer et installer vos chantiers<br/>
					- Superviser la gestion des moyens humains et matériels</p>
				</div>
				<div class="align-offre">
					<p class="btn-consulter"><a href="consulter-offre.html">Consulter</a></p>
				</div>
			</div>

		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>