<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/carrieres.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="carrieres">Offres d'emplois</a></li>
				<li class="candid-li"><a href="candidature-s">Candidature spontann&eacute;e</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">
			<h2>Carri&egrave;res >> Offres d'emplois</h2>

			<div class="offre-emploi" th:each= "carriere : ${carrieres}">
				<div class="align-offre div-offre1">
					<h3 th:text="${carriere.titreOffre}"></h3>
					<h4 th:text="'Publi&eacute; le ' + ${carriere.dateOffre}"></h4>
					<p class="text-offre" th:utext="${carriere.missionOffre}+'...'"></p>
				</div>
				<div class="align-offre">
					<p class="btn-consulter"><a th:href="'offre?o='+${carriere.idOffre}">Consulter</a></p>
				</div>
			</div>

		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		
	
	</body>
</html>