<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/groupe.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="groupe">Mot du pr&eacute;sident</a></li>
				<li><a href="qui-sommes-nous">Qui sommes-nous ?</a></li>
				<li><a href="chiffres">Chiffres cl&eacute;s</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">
			<h2>Groupe >> Chiffres cl&eacute;s</h2>
			<h3>Retour sur l'ann&eacute;e 2016</h3>
			<p>"</p>
			<p th:utext="${elements.description}"></p>

		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		
	
	</body>
</html>