<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/groupe.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="groupe.html">Mot du président</a></li>
				<li><a href="qui-sommes-nous.html">Qui sommes-nous ?</a></li>
				<li><a href="chiffres.html">Chiffres clés</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">
			<h2>Groupe >> Chiffres clés</h2>
			<h3>Retour sur l'année 2016</h3>
			<p>"</p>
			<p>L'entreprise VRD France a réalisé un chiffre d'affaires de 1,5 millions d'euros. La société comptabilise 10 collaborateurs. Le recyclage est le fer de lance du groupe,
			 ce qui lui a permis de revaloriser 700T de ferailles et 300T de déblais.</p>

		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>