<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/connexion.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="groupe">Connexion</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Connexion</h2>
			<h4>Pour accéder à l'espace administrateur, merci de vous connecter.</h4>

			<form id="form-connexion" action="" method="GET">
				<div>
					<label for="mail">Identifiant</label>
					<input type="mail" name="mail"/>
				</div>
				<div>
					<label for="mdp">Mot de passe</label>
					<input type="password" name="mdp"/>
				</div>
					<input id="btn-connexion" type="submit" value="Me connecter"/>
			</form>
			
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>