<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<link rel="stylesheet" type="text/css" href="css/description-offre.css"/>
		<script type="text/javascript" src="js/javascript.js"> </script>
		<meta charset="utf-8"/>
		<script type="text/javascript" src="js/javascript.js"> </script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/resources/demos/style.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="carrieres">Offres d'emplois</a></li>
				<li class="candid-li"><a href="candidature-s">Candidature spontann&eacute;e</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">
			<h2>Carri&egrave;res >> Consulter une offre</h2>
		</section>

		<div id="detail-offre">
			<section id="desc-offre" style="width:1000px;">
				<img src="img/logo.png" style="width:200px; display:block; margin:auto;" alt="VRD France"/>
				<p th:text="${groupe.description}"></p>
				<p>Dans le cadre de notre d&eacute;veloppement, nous recherchons :</p>
				<h3 th:text="${offre.titreOffre}"></h3>
				<p class="ref-offre" th:text="'Ref : ' + ${offre.referenceOffre}"></p>
				<p th:utext="${offre.missionOffre}"></p>
			</section>
			<p id="titre-postuler">Postuler &Agrave; cette offre</p>
		</div>

		<form id="send-candidature" method="POST" action="" enctype="multipart/form-data">
			<input type="hidden" th:value="'Candidature ' + ${offre.titreOffre} + ' (Ref : ' + ${offre.referenceOffre} + ')'" name="offre"/>
			<p class="ligne-tableau ligne-tableau2 form-display">
						<label for="nom">Nom</label>
						<span class="form-display"><input type="text" name="nom" id="add_nom" required maxlength="50" onFocus="inf_nom1()" onBlur="inf_nom2()"/>
						<div class="form-display">
					      	<div id="check_nom1" class="check1">&#10004;</div>
					      	<div id="check_nom2" class="check2">X</div>
					    </div>
				</p>
				<p id="info_nom" class="indication">Le nom doit comporter entre 2 et 50 caracteres.</p>
				
				<p class="ligne-tableau form-display">
						<label for="prenom">Pr&eacute;nom</label>
						<span class="form-display"><input type="text" name="prenom" id="add_prenom" required maxlength="50" onFocus="inf_prenom1()" onBlur="inf_prenom2()"/>
						<div class="form-display">
					      	<div id="check_prenom1" class="check1">&#10004;</div>
					      	<div id="check_prenom2" class="check2">X</div>
					    </div>
				</p><p id="info_prenom" class="indication">Le prenom doit comporter entre 2 et 50 caracteres.</p>
				
				<p class="ligne-tableau form-display">
						<label for="mail">Mail</label>
						<span class="form-display"><input class="add_form" type="text"  name="mail" id="add_mail" required maxlength="50" onFocus="inf_mail1()" onBlur="inf_mail2(this)"/>
						<div class="form-display">
					      	<div id="check_mail1" class="check1">&#10004;</div>
					      	<div id="check_mail2" class="check2">X</div>
					    </div>
				</p><p id="info_mail" class="indication indication2">L'adresse mail doit etre valide.</p>
				
				<p class="ligne-tableau form-display">
						<label for="telephone">T&eacute;l&eacute;phone</label>
						<span class="form-display"><input class="add_form" type="telephone" name="telephone" id="add_telephone" required maxlength="14" onFocus="inf_telephone1()" onBlur="inf_telephone2()"/>
						<div class="form-display">
					      	<div id="check_telephone1" class="check1">&#10004;</div>
					      	<div id="check_telephone2" class="check2">X</div>
					    </div>
				</p><p id="info_telephone" class="indication">Le numero doit comporter 10 chiffres</p>
			
			<p class="ligne-tableau form-display">
				<label>CV (PDF)</label><input class="load-file" required type="file" name="cv"/>
			</p>
			
			<p class="ligne-tableau form-display">
						<label for="msg">Message</label>
						<textarea class="form-display add_form" name="message" id="add_msg" style="width:240px; margin-left:0;" required maxlength="400" onFocus="inf_msg1()" onBlur="inf_msg2()" rows="5"></textarea>
						<div class="form-display">
					      	<div id="check_msg1" class="check1">&#10004;</div>
					      	<div id="check_msg2" class="check2">X</div>
					    </div>
				</p><p id="info_msg" class="indication">Le message doit comporter entre 5 et 400 caracteres.</p>
			<br/>
				<div class="g-recaptcha"  style="padding-left:100px;" data-sitekey="6LdlFB4UAAAAAJPx2G9859iqYh1tmClHr2LPFsQD"></div>
				<div>
				<input id="btn-candidat" class="align-form" type="submit" value="Envoyer ma candidature"/>
				</div>
				
			</form>

		<p class="btn-consulter-offre"><a href="carrieres">Consulter nos autres offres</a></p>

		<footer th:replace="~{fragments :: footer}"></footer>
		
	
	</body>
</html>