<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
		<script src="js/ckeditor/ckeditor.js"></script>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Accueil"</h2>
			
		</section>

		<p class="ligne-guide">Remplacer une photo (JPG ou PNG)</p>

		<form action="" method="POST">
			<div>
				<label for="add-photo1">D&eacute;construction</label>
				<input type="file" name="add-photo1"/>
			</div>
					<div>
				<label for="add-photo2">D&eacute;samiantage</label>
				<input type="file" name="add-photo2"/>
			</div>
			<div>
				<label for="add-photo3">Recyclage</label>
				<input type="file" name="add-photo3"/>
			</div>
					<div>
				<label for="add-photo4">Sciage</label>
				<input type="file" name="add-photo4"/>
			</div>
			<div>
				<label for="add-photo5">Terrassement</label>
				<input type="file" name="add-photo5"/>
			</div>
					<div>
				<label for="add-photo6">VRD</label>
				<input type="file" name="add-photo6"/>
			</div>
			<div>
				<label for="add-photo7">Equipe dirigeante</label>
				<input type="file" name="add-photo7"/>
			</div>
					<div>
				<label for="add-photo8">Bandeau</label>
				<input type="file" name="add-photo8"/>
			</div>
			<input class="submit" type="submit" value="Modifier"/>
			</form>

		<p class="ligne-guide">Mot d'accueil des dirigeants</p>
			<form action="" method="POST">
					<div>
						<textarea name="mot-dirigeant" id="editor1" rows="10" cols="80" required maxlength="1000">
			            </textarea>
			            <script>
			                // Replace the <textarea id="editor1"> with a CKEditor
			                // instance, using default configuration.
			                CKEDITOR.replace( 'editor1');
			            </script>					
			         </div>
				<input class="submit" type="submit" value="Modifier"/>
			</form>

		<p class="ligne-guide">Choisir les 3 chantiers de r&eacute;f&eacute;rence</p>
		<form action="" method="POST">
			<div>

			</div>
			<input class="submit" type="submit" value="Modifier"/>
		</form>

		<section class="list-edit">
			<a class="back-btn" href="admin">Retour</a>
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
</html>