<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Contactez-nous"</h2>
			
		</section>

			<section class="list-edit">
				<form action="" method="GET">
					<div>
						<label for="telephone">T&eacute;l&eacute;phone</label>
						<input type="telephone" name="telephone"/>
					</div>
					<div>
						<label for="mail">Mail</label>
						<input type="mail" name="mail"/>
					</div>
					<input class="submit" type="submit" value="Modifier"/>
				</form>
				<a class="back-btn" href="admin">Retour</a>
			</section>

		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
</html>