<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="espace-admin.html">Administration</a></li>
				<li><a href="">Me déconnecter</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Actualités"</h2>
			
		</section>

		<p class="ligne-guide">Ajouter un article de presse</p>

			<section class="list-edit">
				<form action="" method="GET">
					<div>
						<label for="titre">Titre</label>
						<input type="text" name="titre"/>
					</div>
					<div>
						<label for="media">Media</label>
						<input type="text" name="media"/>
					</div>
					<div>
						<label for="date">Date</label>
						<input type="date" name="date"/>
					</div>
					<div>
						<label for="lien">Lien de l'article</label>
						<input type="text" name="lien"/>
					</div>
					<div>
						<label for="photo">Photo</label>
						<input type="file" name="photo"/>
					</div>
					<div>
						<label for="content">Contenu de l'article</label>
						<input type="textarea" name="content"/>
					</div>
					<input type="submit" class="submit" value="Ajouter"/>
				</form>
			</section>

		<p class="ligne-guide">Liste des articles de presse</p>

		<section class="list-edit">
			<a href="espace-admin.html" class="back-btn">Retour</a>
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>