<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="espace-admin.html">Administration</a></li>
				<li><a href="">Me déconnecter</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Métiers" >> Déconstruction</h2>
			
		</section>

		<p class="ligne-guide">Déconstruction</p>

			<section class="list-edit">
				<form action="" method="POST" class="form-editer">
					<div>
						<label for="photo">Photo</label>
						<input type="file" name="photo"/>
					</div>
					<div>
						<label for="presentation">Présentation</label>
						<input class="pst" type="textarea" name="presentation"/>
					</div>
					<input class="submit" type="submit" value="Modifier"/>
				</form>

				<a class="back-btn" href="edit-metiers.html">Retour</a>
			</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>