<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<script type="text/javascript" src="js/javascript.js"></script>
		<script src="js/ckeditor/ckeditor.js"></script>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Actualit&eacute;s"</h2>
			
		</section>

		<p class="ligne-guide">Ajouter un article de presse</p>

			<section class="list-edit">
				<form action="adm-presse" method="POST" enctype="multipart/form-data">
					<p class="ligne-tableau form-display">
						<label for="titre">Titre</label>
						<span class="form-display"><input class="add_form" type="text" name="titre" id="add_titre" required maxlength="50" onFocus="inf_titre1()" onBlur="inf_titre2()"/>
						<div class="form-display">
					      	<div id="check_titre1" class="check1">&#10004;</div>
					      	<div id="check_titre2" class="check2">X</div>
					    </div>
						<p id="info_titre" class="indication">Le titre doit comporter entre 5 et 50 caracteres</p>
					</p>
					
					<p class="ligne-tableau form-display">
						<label for="titre">M&eacute;dia</label>
						<span class="form-display"><input class="add_form" type="text" name="media" id="add_media" required maxlength="50" onFocus="inf_media1()" onBlur="inf_media2()"/>
						<div class="form-display">
					      	<div id="check_media1" class="check1">&#10004;</div>
					      	<div id="check_media2" class="check2">X</div>
					    </div>
						<p id="info_media" class="indication">Le m&eacute;dia doit comporter entre 3 et 50 caracteres</p>
					</p>
					
					<p class="ligne-tableau form-display">
						<label for="titre">Lien</label>
						<span class="form-display"><input class="add_form" type="text" name="lien" id="add_lien" required maxlength="200" onFocus="inf_lien1()" onBlur="inf_lien2()"/>
						<div class="form-display">
					      	<div id="check_lien1" class="check1">&#10004;</div>
					      	<div id="check_lien2" class="check2">X</div>
					    </div>
						<p id="info_lien" class="indication">Le lien doit comporter entre 5 et 200 caracteres</p>
					</p>
					<div>
						<label for="photo">Photo</label>
						<input type="file" name="photo"/>
					</div>
					<div>
						<label for="content">Contenu de l'article</label>
					</div>
					<div>
						<textarea name="content" id="editor1" rows="10" cols="80" required maxlength="1000">
			            </textarea>
			            <script>
			                // Replace the <textarea id="editor1"> with a CKEditor
			                // instance, using default configuration.
			                CKEDITOR.replace( 'editor1');
			            </script>					
			         </div>
					
					<input type="submit" class="submit" value="Ajouter"/>
				</form>
			</section>

		<p class="ligne-guide">Liste des articles de presse</p>
		
		<table class="table-admin">
			<tr class=ligne1>
				<td>Titre</td>
				<td>Media</td>
				<td></td>
			</tr>
			<tr th:each="presse : ${presses}">
				<td th:text="${presse.titre}"></td>
				<td th:text="${presse.nom_media}">></td>
				<td>
					<a th:href="'adm-mpresse?p='+${presse.ID_presse}"><img class="icon_list" src="img/file.png" alt="Modifier"/></a>
					<a th:href="'javascript:ConfirmPresse('+${presse.ID_presse}+')'"><img class="icon_list" src="img/delete.png" alt="Supprimer"/></a>
				</td>
			</tr>
		</table>

		<section class="list-edit">
			<a href="admin" class="back-btn">Retour</a>
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
	
</html>