<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
		<script src="js/ckeditor/ckeditor.js"></script>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Accueil"</h2>
			
		</section>

		<p class="ligne-guide">Remplacer une photo (JPG ou PNG)</p>

		<form action="editPhoto1" method="POST" class="edit-pic" enctype="multipart/form-data">
			<div>
				<label for="add-photo1">D&eacute;construction</label>
				<img th:src="${photo1.photo}" alt="presse"/>
				<input type="file" name="add-photo1"/>
			</div>
		<input class="submit" type="submit" value="Modifier"/>
		</form>
		
		<form action="editPhoto2" method="POST" class="edit-pic" enctype="multipart/form-data">
					<div>
				<label for="add-photo2">D&eacute;samiantage</label>
				<img th:src="${photo2.photo}" alt="presse"/>
				<input type="file" name="add-photo2"/>
			</div>
		<input class="submit" type="submit" value="Modifier"/>
		</form>
		
		<form action="editPhoto3" method="POST" class="edit-pic" enctype="multipart/form-data">
			<div>
				<label for="add-photo3">Recyclage</label>
				<img th:src="${photo3.photo}" alt="presse"/>
				<input type="file" name="add-photo3"/>
			</div>
		<input class="submit" type="submit" value="Modifier"/>
		</form>
		
		<form action="editPhoto4" method="POST" class="edit-pic" enctype="multipart/form-data">
					<div>
				<label for="add-photo4">Sciage</label>
				<img th:src="${photo4.photo}" alt="presse"/>
				<input type="file" name="add-photo4"/>
			</div>
		<input class="submit" type="submit" value="Modifier"/>
		</form>
		
		<form action="editPhoto5" method="POST" class="edit-pic" enctype="multipart/form-data">
			<div>
				<label for="add-photo5">Terrassement</label>
				<img th:src="${photo5.photo}" alt="presse"/>
				<input type="file" name="add-photo5"/>
			</div>
		<input class="submit" type="submit" value="Modifier"/>
		</form>
		
		<form action="editPhoto6" method="POST" class="edit-pic" enctype="multipart/form-data">			
					<div>
				<label for="add-photo6">VRD</label>
				<img th:src="${photo6.photo}" alt="presse"/>
				<input type="file" name="add-photo6"/>
			</div>
		<input class="submit" type="submit" value="Modifier"/>
		</form>
		
		<form action="editPhoto7" method="POST" class="edit-pic" enctype="multipart/form-data">
			<div>
				<label for="add-photo7">Parc maté</label>
				<img th:src="${photo7.photo}" alt="presse"/>
				<input type="file" name="add-photo7"/>
			</div>
		<input class="submit" type="submit" value="Modifier"/>
		</form>
		
		<form action="editPhoto8" method="POST" class="edit-pic edit-bandeau" enctype="multipart/form-data">
					<div>
				<label for="add-photo8">Bandeau</label>
				<img th:src="${photo8.photo}" alt="presse"/>
				<input type="file" name="add-photo8"/>
			</div>
		<input class="submit" type="submit" value="Modifier"/>
		</form>

		<p class="ligne-guide">Mot d'accueil des dirigeants</p>
			<form action="adm-msgdir" method="POST">
					<div>
						<textarea name="mot-dirigeant" id="editor1" rows="10" th:text="${accueil.description}" cols="80" required maxlength="3000">
			            </textarea>
			            <script>
			                // Replace the <textarea id="editor1"> with a CKEditor
			                // instance, using default configuration.
			                CKEDITOR.replace( 'editor1');
			            </script>					
			         </div>
			         <p id="motAccueilError" th:text="${motAccueilError}"></p>
				<input class="submit" type="submit" value="Modifier"/>
			</form>

		<p class="ligne-guide">Modifier les chiffres</p>
		<section id="form-ch">
		<form action="adm-ch1" method="POST">
			<div>
				<input class="edit-ch" type="text" name="titre1" th:value="${chiffreun.titre}" maxlength="50"/>
				<input class="edit-ch" type="text" name="chiffre1" th:value="${chiffreun.chiffre}" maxlength="6"/>
				<input class="submit-ch edit-ch" type="submit" value="Modifier"/>
			</div>
		</form>
		
		<form action="adm-ch2" method="POST">
			<div>
				<input class="edit-ch" type="text" name="titre2" th:value="${chiffredeux.titre}" maxlength="50"/>
				<input class="edit-ch" type="text" name="chiffre2" th:value="${chiffredeux.chiffre}" maxlength="6"/>
				<input class="submit-ch edit-ch" type="submit" value="Modifier"/>
			</div>
		</form>
		
		<form action="adm-ch3" method="POST">
			<div>
				<input class="edit-ch" type="text" name="titre3" th:value="${chiffretrois.titre}" maxlength="50"/>
				<input class="edit-ch" type="text" name="chiffre3" th:value="${chiffretrois.chiffre}" maxlength="6"/>
				<input class="submit-ch edit-ch" type="submit" value="Modifier"/>
			</div>
		</form>
		</section>
		<p id="modifError" th:text="${modifError}"></p>
		<br/>
		<section class="list-edit">
			<a class="back-btn" href="admin">Retour</a>
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
</html>