<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="espace-admin">Administration</a></li>
				<li><a href="">Me déconnecter</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Carrières"</h2>
			
		</section>

		<p class="ligne-guide">Ajouter une offre d'emploi</p>
			<section class="list-edit">
				<form action="" method="GET">
					<div>
						<label for="intitule-poste">Poste</label>
						<input type="text" name="intitule-poste"/>
					</div>
					<div>
						<label for="desc-poste">Description</label>
						<input class="pst" type="textarea" name="desc-poste"/>
					</div>
					<input type="submit" class="submit" value="Ajouter"/>
				</form>
			</section>

		<p class="ligne-guide">Liste des offres d'emploi</p>

			<section class="list-edit">
				<a class="back-btn" href="espace-admin">Retour</a>
			</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>