<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>
		
		<section id="body-page">

			<h2 th:text="'Espace administrateur >> Editer un m&eacute;tier >> ' + ${metier.titreMetier}"></h2>
			
		</section>

		<p class="ligne-guide" th:text="${metier.titreMetier}"></p>

			<section class="list-edit">
				<form action="/admin/metier" method="POST" class="form-editer">
					<div>
						<label for="photo">Photo</label>
						<input type="file" name="photo"/>
					</div>
					<div>
						<label for="presentation">Pr&eacute;sentation</label>
						<input class="pst" type="textarea" name="description"/>
					</div>
					<input class="submit" type="submit" value="Modifier"/>
				</form>

				<a class="back-btn" href="adm-metiers">Retour</a>
			</section>

		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
</html>