<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<script type="text/javascript" src="js/javascript.js"> </script>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Actualit&eacute;s"</h2>
			
		</section>

		<p class="ligne-guide">Ajouter une r&eacute;f&eacute;rence de chantier</p>

			<section class="list-edit">
				<form action="" method="POST">
					<div>
						<label for="titre">Titre</label>
						<input type="text" name="titre" required maxlength="50"/>
					</div>
					<div>
						<label for="ville">Ville</label>
						<input type="text" name="ville" required maxlength="50"/>
					</div>
					<div>
						<label for="cp">Code postal</label>
						<input type="text" name="cp" required maxlength="5"/>
					</div>
					<div>
						<label for="mo">Maitre d'ouvrage</label>
						<input type="text" name="mo" required maxlength="50"/>
					</div>
					<div>
						<label for="client">Client</label>
						<input type="text" name="client" required maxlength="50"/>
					</div>
					<div>
						<label for="photo">Photo</label>
						<input type="file" name="photo"/>
					</div>
					<div>
						<label for="mission">Missions</label>
						<input type="textarea" name="mission" required maxlength="1000"/>
					</div>
					<input type="submit" class="submit" value="Ajouter"/>
				</form>
			</section>

		<p class="ligne-guide">Liste des r&eacute;f&eacute;rences de chantier</p>
		
		<table class="table-admin">
			<tr class=ligne1>
				<td>Titre</td>
				<td>Ville</td>
				<td></td>
			</tr>
			<tr th:each="reference : ${references}">
				<td th:text="${reference.ville}"></td>
				<td th:text="${reference.titre}">></td>
				<td>
					<a th:href="'adm-mrealisations?c='+${reference.id}"><img class="icon_list" src="img/file.png" alt="Modifier"/></a>
					<a th:href="'javascript:ConfirmMessage('+${reference.id}+')'"><img class="icon_list" src="img/delete.png" alt="Supprimer"/></a>
				</td>
			</tr>
		</table>

			<section class="list-edit">
				<a class="back-btn" href="admin">Retour</a>
			</section>
			
		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
</html>