<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<script type="text/javascript" src="js/javascript.js"> </script>
		<script src="js/ckeditor/ckeditor.js"></script>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Carri&egrave;res"</h2>
			
		</section>

		<p class="ligne-guide">Ajouter une offre d'emploi</p>
			<section class="list-edit">
				<form action="adm-carrieres" method="POST">
					<p class="ligne-tableau form-display">
						<label for="ref">R&eacute;f&eacute;rence</label>
						<span class="form-display"><input class="add_form" type="text"  name="ref" id="add_ref" required maxlength="12" onFocus="inf_ref1()" onBlur="inf_ref2()"/>
						<div class="form-display">
					      	<div id="check_ref1" class="check1">&#10004;</div>
					      	<div id="check_ref2" class="check2">X</div>
					    </div>
						<p id="info_ref" class="indication">La r&eacute;f&eacute;rence doit comporter entre 3 et 12 caracteres</p>
					</p>
				
					<p class="ligne-tableau form-display">
						<label for="poste">Poste</label>
						<span class="form-display"><input class="add_form" type="text"  name="poste" id="add_poste" required maxlength="50" onFocus="inf_poste1()" onBlur="inf_poste2()"/>
						<div class="form-display">
					      	<div id="check_poste1" class="check1">&#10004;</div>
					      	<div id="check_poste2" class="check2">X</div>
					    </div>
						<p id="info_poste" class="indication">Le poste doit comporter entre 5 et 50 caracteres</p>
					</p>
						<label for="desc-poste">Description</label>
					</div>
					<div>
						<textarea name="desc-poste" id="editor1" rows="10" cols="80" required maxlength="1000">
			            </textarea>
			            <script>
			                // Replace the <textarea id="editor1"> with a CKEditor
			                // instance, using default configuration.
			                CKEDITOR.replace( 'editor1');
			            </script>					
			         </div>
					<input type="submit" class="submit" value="Ajouter"/>
				</form>
			</section>

		<p class="ligne-guide">Liste des offres d'emploi</p>
		
		<table class="table-admin">
			<tr class=ligne1>
				<td>Titre</td>
				<td>Date</td>
				<td>Modifier / Supprimer</td>
			</tr>
			<tr th:each="carriere : ${carrieres}">
				<td th:text="${carriere.titreOffre}"></td>
				<td th:text="${carriere.dateOffre}">></td>
				<td>
					<a th:href="'adm-mcarrieres?off='+${carriere.idOffre}"><img class="icon_list" src="img/file.png" alt="Modifier"/></a>
					<a th:href="'javascript:ConfirmOffre('+${carriere.idOffre}+')'"><img class="icon_list" src="img/delete.png" alt="Supprimer"/></a>
				</td>
			</tr>
		</table>
		
		<p class="ligne-guide">Presentation VRD France sur les offres d'emplois</p>
		
		<form action="adm-presentation" method="POST" class="form-editer">
		<input type="hidden" th:value="${groupe.ID_element}" name="idGroupe"/>
					<div>
						<textarea name="description" th:text="${groupe.description}" rows="10" cols="90" required maxlength="2000"></textarea>
			         </div>
			          <input class="submit" type="submit" value="Modifier"/>
			</form>
			     

			<section class="list-edit">
				<a class="back-btn" href="admin">Retour</a>
			</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
	
	</body>
</html>