<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "M&eacute;tiers"</h2>
			
		</section>

		<p class="ligne-guide">Choisir une activit&eacute; &agrave; modifier</p>

			<section class="list-edit">
				<a th:each="editmetier : ${editmetiers}" th:href="'adm-metier?m='+${editmetier.idMetier}">
					<div th:text="${editmetier.titreMetier}" class="metier-modif"></div>
				</a>
			</section>
			
		<p class="ligne-guide">Ajouter une nouvelle activit&eacute;</p>

			<section class="list-edit">
				<form action="adm-metiers" method="POST">
					<p class="ligne-tableau" align="center">
						<span class="form-display"><input class="add_form" type="text" name="metier" id="add_metier" required maxlength="50"/></span>
					</p>
					
					<input type="submit" class="submit" value="Ajouter"/>
				</form>
			
			<a class="back-btn" href="admin">Retour</a>
			</section>
			
			
		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
</html>