<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Carri&egrave;res"</h2>
			
		</section>

		<p class="ligne-guide">Ajouter une offre d'emploi</p>
			<section class="list-edit">
				<form action="adm-carrieres" method="POST">
					<div>
						<label for="ref">R&eacute;f&eacute;rence</label>
						<input type="text" name="ref"/>
					</div>
					<div>
						<label for="poste">Poste</label>
						<input type="text" name="poste"/>
					</div>
					<div>
						<label for="desc-poste">Description</label>
						<input class="pst" type="textarea" name="desc-poste"/>
					</div>
					<input type="submit" class="submit" value="Ajouter"/>
				</form>
			</section>

		<p class="ligne-guide">Liste des offres d'emploi</p>
		
		<table class="table-admin">
			<tr class=ligne1>
				<td>Titre</td>
				<td>Date</td>
				<td>Modifier / Supprimer</td>
			</tr>
			<tr th:each="carriere : ${carrieres}">
				<td th:text="${carriere.titreOffre}"></td>
				<td th:text="${carriere.dateOffre}">></td>
				<td>
					<a th:href="'adm-mcarrieres?off='+${carriere.idOffre}"><img class="icon_list" src="img/file.png" alt="Modifier"/></a>
					<a th:href="'javascript:ConfirmOffre('+${carriere.idOffre}+')'"><img class="icon_list" src="img/delete.png" alt="Supprimer"/></a>
				</td>
			</tr>
		</table>

			<section class="list-edit">
				<a class="back-btn" href="admin">Retour</a>
			</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>