<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css"/>
		<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Accueil"</h2>
			
		</section>

		<p class="ligne-guide">Remplacer une photo (JPG ou PNG)</p>

		<form action="" method="POST">
			<div>
				<label for="add-photo1">Déconstruction</label>
				<input type="file" name="add-photo1"/>
			</div>
					<div>
				<label for="add-photo2">Désamiantage</label>
				<input type="file" name="add-photo2"/>
			</div>
			<div>
				<label for="add-photo3">Recyclage</label>
				<input type="file" name="add-photo3"/>
			</div>
					<div>
				<label for="add-photo4">Sciage</label>
				<input type="file" name="add-photo4"/>
			</div>
			<div>
				<label for="add-photo5">Terrassement</label>
				<input type="file" name="add-photo5"/>
			</div>
					<div>
				<label for="add-photo6">VRD</label>
				<input type="file" name="add-photo6"/>
			</div>
			<div>
				<label for="add-photo7">Equipe dirigeante</label>
				<input type="file" name="add-photo7"/>
			</div>
					<div>
				<label for="add-photo8">Bandeau</label>
				<input type="file" name="add-photo8"/>
			</div>
			<input class="submit" type="submit" value="Modifier"/>
			</form>

		<p class="ligne-guide">Mot d'accueil des dirigeants</p>
			<form action="" method="POST">
				<div>
					<label for="mot-dirigeant">Mot</label>
					<input type="textarea" name="mot-dirigeant" class="pst"/>
				</div>
				<input class="submit" type="submit" value="Modifier"/>
			</form>

		<p class="ligne-guide">Choisir les 3 chantiers de référence</p>
		<form action="" method="POST">
			<div>

			</div>
			<input class="submit" type="submit" value="Modifier"/>
		</form>

		<section class="list-edit">
			<a class="back-btn" href="espace-admin">Retour</a>
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>