<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/engagements.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header>
			<ul>
				<li><a href="groupe.html">Groupe</a></li>
				<li><a href="metiers.html">Métiers</a></li>
				<li><a href="engagements.html">Engagements</a></li>
				<li><a href="index.html"><img src="img/logo.png" alt="Logo VRD France"/></a></li>
				<li><a href="actualites.html">Actualités</a></li>
				<li><a href="carrieres.html">Carrières</a></li>
				<li><a href="contact.html">Contactez-nous</a></li>
			</ul>

		</header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="">Nos valeurs</a></li>
				<li><a href="">Sécurité</a></li>
				<li><a href="">Qualité</a></li>
				<li><a href="">Environnement</a></li>
				<li><a href="">Innovation</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Engagements >> Nos valeurs</h2>
			<h3>Nos valeurs</h3>
			<p>La réussite et la pérennité de VRD France reposent sur ses équipes, leur savoir-faire et leur état d’esprit. Elle est également fondée sur des valeurs fortes qui sont la marque distinctive de l’entreprise :
			<ul>
			<li>	Les hommes constituent la première valeur de l’entreprise.</li>
			<li>	Le client est la raison d’être de l’entreprise. Le satisfaire est notre seul objectif.</li>
			<li>	La qualité est la clé de compétitivité.</li>
			<li>	La créativité permet de proposer aux clients des offres originales en apportant des solutions utiles au meilleur coût.</li>
			<li>	L’innovation technique, qui améliore les coûts et les performances des produits est la condition de nos succès.</li>
			<li>	Le respect de soi, des autres et de l’environnement inspire le comportement quotidien de tous.</li>
			<li>	La promotion des hommes est fondée sur la reconnaissance individualisée des mérites.</li>
			<li>	La formation donne aux hommes les moyens d’accroître leurs connaissances et d’enrichir leur vie professionnelle.</li>
			<li>	Les jeunes, par leur potentiel, forgent l’entreprise de demain.</li>
			</ul>
			</p>



			
		</section>

		<footer>
			<section id="footer-box">
					<div>
						<h2 class="titre">Navigation</h2>
						<hr/>
						<ul>
							<li><a href="index">Accueil</a></li>
							<li><a href="activites">Nos métiers</a></li>
							<li><a href="materiels">Matériels et équipements</a></li>
							<li><a href="actualites">Actualités</a></li>
							<li><a href="galerie">Réalisations</a></li>
							<li><a href="">Mentions légales</a></li>
							<li><a href="">Plan du site</a></li>
							<li><a href="contact">Contactez-nous</a></li>
						</ul>
					</div>
					<div>
						<h2 class="titre">Coordonnées</h2>
						<hr/>
						<ul>
							<li>VRD France</li>
							<li>940 Langhemast Straete</li>
							<li>59670 - NOORDPEENE </li>
							<br/>
							<li>Tél : 06.03.62.73.06 </li>
							<li>contact@vrd-france.fr </li>
						</ul>
					</div>
					<div>
						<h2 class="titre">Heures d'ouverture</h2>
						<hr/>
						<p>Nous sommes à votre disposition du Lundi au Vendredi de 7H00 à 18H00. N'hésitez pas à nous contacter pour tout rendez-vous ou demande de renseignements supplémentaires.</p>
					</div>
				</section>
		</footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>