<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Bienvenue sur votre espace de gestion</h2>

			<table>
				<tr class="ligne1">
					<td>Nom</td>
					<td>Actions</td>
				</tr>
				<tr>
					<td>Accueil</td>
					<td><a href="adm-accueil">Editer</a></td>
				</tr>
				<tr>
					<td>M&eacute;tiers</td>
					<td><a href="adm-metiers">Editer</a></td>
				</tr>
				<tr>
					<td>Engagements</td>
					<td><a href="adm-engagements">Editer</a></td>
				</tr>
				<tr>
					<td>Actualit&eacute;s</td>
					<td><a href="adm-actualites">Editer</a></td>
				</tr>
				<tr>
					<td>Carri&egrave;res</td>
					<td><a href="adm-carrieres">Editer</a></td>
				</tr>
				<tr>
					<td>Contactez-nous</td>
					<td><a href="adm-contact">Editer</a></td>
				</tr>
			</table>
			
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
</html>