<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="espace-admin">Administration</a></li>
				<li><a href="">Me déconnecter</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>Bienvenue sur votre espace de gestion</h2>

			<table>
				<tr class="ligne1">
					<td>Nom</td>
					<td>URL</td>
					<td>Actions</td>
				</tr>
				<tr>
					<td>Accueil</td>
					<td>http://www.vrdfrance.fr/</td>
					<td><a href="edit-accueil">Editer</a></td>
				</tr>
				<tr>
					<td>Métiers</td>
					<td>http://www.vrdfrance.fr/metiers</td>
					<td><a href="edit-metiers">Editer</a></td>
				</tr>
				<tr>
					<td>Engagements</td>
					<td>http://www.vrdfrance.fr/engagements</td>
					<td><a href="edit-engagements">Editer</a></td>
				</tr>
				<tr>
					<td>Actualités</td>
					<td>http://www.vrdfrance.fr/actualites</td>
					<td><a href="edit-actualites">Editer</a></td>
				</tr>
				<tr>
					<td>Carrières</td>
					<td>http://www.vrdfrance.fr/carrieres</td>
					<td><a href="edit-carrieres">Editer</a></td>
				</tr>
				<tr>
					<td>Contactez-nous</td>
					<td>http://www.vrdfrance.fr/contact</td>
					<td><a href="edit-contact">Editer</a></td>
				</tr>
			</table>


			
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>