<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Fragments</title>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  
  <body>
  
  	<header th:fragment="header">
        <ul>
				<li><a href="groupe">Groupe</a></li>
				<li><a href="metiers">Métiers</a></li>
				<li><a href="engagements?e=1">Engagements</a></li>
				<li><a href="home"><img src="img/logo.png" alt="Logo VRD France"/></a></li>
				<li><a href="actualites">Actualités</a></li>
				<li><a href="carrieres">Carrières</a></li>
				<li><a href="contact">Contactez-nous</a></li>
			</ul>
    </header>
    
    <footer th:fragment="footer">
			<section id="footer-box">
					<div>
						<h2 class="titre">Navigation</h2>
						<hr/>
						<ul>
							<li><a href="home">Accueil</a></li>
							<li><a href="groupe">Le groupe</a></li>
							<li><a href="metiers">Nos métiers</a></li>
							<li><a href="engagements?e=1">Nos engagements</a></li>
							<li><a href="actualites">Actualités</a></li>
							<li><a href="carriere">Carrières</a></li>
							<li><a href="contact">Contactez-nous</a></li>
						</ul>
					</div>
					<div>
						<h2 class="titre">Coordonnées</h2>
						<hr/>
						<ul>
							<li>VRD France</li>
							<li>940 Langhemast Straete</li>
							<li>59670 - NOORDPEENE </li>
							<br/>
							<li>Tél : 06.03.62.73.06 </li>
							<li>contact@vrd-france.fr </li>
						</ul>
					</div>
					<div>
						<h2 class="titre">Heures d'ouverture</h2>
						<hr/>
						<p>Nous sommes à votre disposition du Lundi au Vendredi de 7H00 à 18H00. N'hésitez pas à nous contacter pour tout rendez-vous ou demande de renseignements supplémentaires.</p>
					</div>
				</section>
		</footer>
  	
	
  </body>
  
</html>