<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section id="body-page">

			<section id="activites-content">
				<a href="metiers?m=1"><div class="activites-entreprise">
					<img src="img/demolition.png" alt="Photo de l'activité"/>
					<p class="lien-menu">D&eacute;construction</p>
				</div></a>
				<a href="metiers?m=2"><div class="activites-entreprise">
					<img src="img/plateforme.png" alt="Photo de l'activité"/>
					<p class="lien-menu">Terrassement</p>
				</div></a>
				<a href="metiers?m=3"><div class="activites-entreprise">
					<img src="img/curetage.png" alt="Photo de l'activité"/>
					<p class="lien-menu">D&eacute;samiantage</p>
				</div></a>
				<a href="metiers?m=6"><div class="activites-entreprise">
					<img src="img/recyclage.png" alt="Photo de l'activité"/>
					<p class="recy-text lien-menu">Recyclage</p>
				</div></a>
				<a href="metiers?m=4"><div class="activites-entreprise">
					<img src="img/sciage.png" alt="Photo de l'activité"/>
					<p class="sciage-text lien-menu">Sciage</p>
				</div></a>
				<a href="metiers?m=8"><div class="activites-entreprise">
					<img src="img/vrd.png" alt="Photo de l'activité"/>
					<p class="vrd-text lien-menu">Voiries et R&eacute;seaux Divers</p>
				</div></a>
			</section>

			<h2>Accueil</h2>

			<section id="msg-president">
				<div class="div-msg div-msg1">
					<img src="img/photo1.png" alt="Equipe dirigeante"/>
				</div>

				<div class="div-msg div-msg2">
					<h2>Message des dirigeants</h2>
					<p class="guillemet-msg">"</p>
					<p th:text="${elements.description}"></p>
					<ul th:each= "dirigeant : ${dirigeants}">
						<li th:text="${dirigeant.nom}"></li>
					</ul>
				</div>
			</section>

			<section id="dernieres-realisations" >
				<h2>Nos derni&egrave;res r&eacute;alisations</h2>
					<div th:each= "chantier : ${chantiers}">
						<img class="photo-chantier" th:src="${chantier.url_photo}" alt="Photo chantier"/>
						<p>
							<img class="helmet" src="img/helmet.png" alt="Casque de chantier" th:text="'['+${chantier.ville}+'] '+${chantier.titre}"/>	
						</p>
					</div>
					
			</section>

		</section>


		<section id="chiffres-cles">
			<h2 class="titre titre-chiffres">Chiffres cl&eacute;s en 2016</h2>
			<div>
				<p class="chiffres-weight">50</p>
				<p class="chiffres-text">chantiers</p>
			</div>
			<div>
				<p class="chiffres-weight">500</p>
				<p class="chiffres-text">tonnes revaloris&eacute;es</p>
			</div>
			<div>
				<p class="chiffres-weight">10</p>
				<p class="chiffres-text">collaborateurs</p>
			</div>
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		
	
	</body>
</html>