<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section id="body-page">

			<section id="activites-content">
				<div class="activites-entreprise">
					<img th:src="${photos.photo1}" alt="Photo de l'activité"/>
					<p><a href="">D&eacute;construction</a></p>
				</div>
				<div class="activites-entreprise">
					<img th:src="${photos.photo5}" alt="Photo de l'activité"/>
					<p><a href="">Terrassement</a></p>
				</div>
				<div class="activites-entreprise">
					<img th:src="${photos.photo2}" alt="Photo de l'activité"/>
					<p><a href="">D&eacute;samiantage</a></p>
				</div>
				<div class="activites-entreprise">
					<img th:src="${photos.photo3}" alt="Photo de l'activité"/>
					<p class="recy-text"><a href="">Recyclage</a></p>
				</div>
				<div class="activites-entreprise">
					<img th:src="${photos.photo4}" alt="Photo de l'activité"/>
					<p class="sciage-text"><a href="">Sciage</a></p>
				</div>
				<div class="activites-entreprise">
					<img th:src="${photos.photo6}" alt="Photo de l'activité"/>
					<p class="vrd-text"><a href="">Voiries et R&eacute;seaux Divers</a></p>
				</div>
			</section>

			<h2>Accueil</h2>
			<section id="msg-president">
				<div class="div-msg div-msg1">
					<img th:src="${photos.photo7}" alt="Equipe dirigeante"/>
				</div>

				<div class="div-msg div-msg2">
					<h2>Message des dirigeants</h2>
					<p class="guillemet-msg">"</p>
					<p th:text="${elements.description}"></p>
					<ul th:each= "dirigeant : ${dirigeants}">
						<li th:text="${dirigeant.nom}"></li>
					</ul>
				</div>
			</section>

			<section id="dernieres-realisations" >
				<h2>Nos derni&egrave;res r&eacute;alisations</h2>
					<div th:each= "chantier : ${chantiers}">
						<img class="photo-chantier" th:src="${chantier.url_photo}" alt="Photo chantier"/>
						<p>
							<img class="helmet" src="img/helmet.png" alt="Casque de chantier" th:text="'['+${chantier.ville}+'] '+${chantier.titre}"/>	
						</p>
					</div>
					
			</section>

		</section>


		<section id="chiffres-cles">
			<h2 class="titre titre-chiffres">Chiffres cl&eacute;s en 2016</h2>
			<div th:each="chiffre : ${chiffres}">
				<p class="chiffres-weight" th:text="${chiffre.chiffre}"></p>
				<p class="chiffres-text" th:text="${chiffre.titre}"></p>
 			</div>
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		
	
	</body>
</html>