<html>
	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialisé&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/groupe.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="metiers?m=1">D&eacute;construction</a></li>
				<li><a href="metiers?m=2">Terrassement</a></li>
				<li><a href="metiers?m=3">D&eacute;samiantage</a></li>
				<li><a href="metiers?m=4">Sciage</a></li>
				<li><a href="metiers?m=5">D&eacute;pollution de sols</a></li>
				<li><a href="metiers?m=6">Recyclage</a></li>
				<li><a href="metiers?m=7">D&eacute;plombage</a></li>
				<li><a href="metiers?m=8">VRD</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">

			<h2>M&eacute;tiers >> D&eacute;construction</h2>

			<div class="presentation-metier">
				<div class="align-metiers align-metiers1">
					<h3 th:text="${metiers.titreMetier}"></h3>
					<p th:text="${metiers.descriptifMetier}"></p>
				</div>
				<div class="align-metiers">
					<img src="img/demolition.png" alt="Metier"/>
				</div>
			</div>


			
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		
	
	</body>
</html>