<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialis&eacute;e dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/espace-admin.css"/>
		<script src="js/ckeditor/ckeditor.js"></script>
		<script type="text/javascript" src="js/javascript.js"> </script>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section th:replace="~{fragments :: sous-header}"></section>

		<img th:replace="~{fragments :: img-bandeau}"/>

		<section id="body-page">

			<h2>Espace administrateur >> Editer "Carri&egrave;res"</h2>
			
		</section>

		<p class="ligne-guide">Modifier une offre d'emploi</p>
			<section class="list-edit">
				<form action="adm-mcarrieres" method="POST">
					<input type="hidden" th:value="${offre.idOffre}" name="id"/>
					<p class="ligne-tableau form-display">
						<label for="ref">R&eacute;f&eacute;rence</label>
						<span class="form-display"><input class="add_form" type="text" th:value="${offre.referenceOffre}" name="ref" id="add_ref" required maxlength="12" onFocus="inf_ref1()" onBlur="inf_ref2()"/>
						<div class="form-display">
					      	<div id="check_ref1" class="check1">&#10004;</div>
					      	<div id="check_ref2" class="check2">X</div>
					    </div>
						<p id="info_ref" class="indication">La r&eacute;f&eacute;rence doit comporter entre 3 et 12 caracteres</p>
					</p>
				
					<p class="ligne-tableau form-display">
						<label for="poste">Poste</label>
						<span class="form-display"><input class="add_form" type="text" th:value="${offre.titreOffre}"  name="poste" id="add_poste" required maxlength="50" onFocus="inf_poste1()" onBlur="inf_poste2()"/>
						<div class="form-display">
					      	<div id="check_poste1" class="check1">&#10004;</div>
					      	<div id="check_poste2" class="check2">X</div>
					    </div>
						<p id="info_poste" class="indication">Le poste doit comporter entre 5 et 50 caracteres</p>
					</p>
						<label for="desc-poste">Description</label>
					</div>
					<div>
						<textarea name="desc-poste" id="editor1" rows="10" cols="80" th:text="${offre.missionOffre}" required maxlength="1000">
			            </textarea>
			            <script>
			                // Replace the <textarea id="editor1"> with a CKEditor
			                // instance, using default configuration.
			                CKEDITOR.replace( 'editor1');
			            </script>					
			            <input class="submit" type="submit" value="Modifier"/>
			         </div>
				</form>
			</section>
			
			<section class="list-edit">
				<a class="back-btn" href="adm-carrieres">Retour</a>
			</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
	
	</body>
</html>