<html>

	<head>
		<title>VRD FRANCE : Entreprise sp&eacute;cialisée dans la d&eacute;molition, le d&eacute;samiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/groupe.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="groupe">Mot du pr&eacute;sident</a></li>
				<li><a href="qui-sommes-nous">Qui sommes-nous ?</a></li>
				<li><a href="chiffres">Chiffres cl&eacute;s</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">
			<h2>Groupe >> Qui sommes-nous ?</h2>

			<section class="section-qsn">
			<p class="paragraphe_presentation" th:text="${actualites[1].description}"></p>	
					<br/><br/>

					<div class="back-presentation" th:each= "dirigeant : ${dirigeants}">
						<section class="grp-align">
							<figure>
								<img th:src="${dirigeant.url_photo}" th:alt="${dirigeant.nom}"/>
							</figure>
						</section>
						<section class="grp-align">
							<br/>
							<h4 th:text="${dirigeant.nom}"></h4>
							<h5 th:text="${dirigeant.fonction}"></h5>
			
							<p th:utext="${dirigeant.description}"></p>
						</section>
					</div>

					
					
					<br/><br/>
					<p class="paragraphe_presentation" th:utext="${actualites[2].description}"></p>	
					<br/>
		</section>

		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
	
	</body>
</html>