<html>

	<head>
		<title>VRD FRANCE : Entreprise spécialisée dans la démolition, le désamiantage et le terrassement.</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/groupe.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less800.css"/>
		<link rel="stylesheet" type="text/css" href="css/screen-less1150.css"/>
		<meta charset="utf-8"/>
	</head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section class="sous-partie">
			<ul class="list-sous-partie">
				<li><a href="groupe.html">Mot du président</a></li>
				<li><a href="qui-sommes-nous.html">Qui sommes-nous ?</a></li>
				<li><a href="chiffres.html">Chiffres clés</a></li>
			</ul>
		</section>

		<img class="photo-bandeau" src="img/test.png" alt="Photo VRD France"/>

		<section id="body-page">
			<h2>Groupe >> Qui sommes-nous ?</h2>

			<section class="section-qsn">
			<p class="paragraphe_presentation">La société VRD France a érigé son siège social à Saint Omer, ville de l'Audomarois. Son établissement principal se situe à Noordpeene, au coeur des Flandres.
					<br/>
					Sa spécialité ? Les travaux de démolition, de sciage, de désamiantage, de dépollution de sol, de terrassement et de V.R.D.
					<br/><br/>
					 Cette entreprise a été crée par 3 associés d'expérience : 
					<br/><br/>

					<div class="back-presentation">
						<section class="grp-align">
							<figure>
								<img src="img/vitse.png" alt="vitse"/>
							</figure>
						</section>
						<section class="grp-align">
							<br/>
							<h4>DE RIVOYRE Gabriel</h4>
							<h5>Directeur d'exploitation</h5>
			
							<p>"25 ans d'expérience dans la démolition, la dépollution 25 ans d'expérience dans la démolition, la dépollution 25 ans d'expérience dans la démolition, la dépollution 25 ans d'expérience dans la démolition, la dépollution"</p>
						</section>
					</div>

					<div class="back-presentation">
						<section class="grp-align">
							<figure>
								<img src="img/vitse.png" alt="vitse"/>
							</figure>
						</section>
						<section class="grp-align">
							<br/>
							<h4>DEHEELE Pierre-Henri</h4>
							<h5>Directeur d'exploitation</h5>
							
							<p>"25 ans d'expérience dans la démolition, la dépollution 25 ans d'expérience dans la démolition, la dépollution 25 ans d'expérience dans la démolition, la dépollution 25 ans d'expérience dans la démolition, la dépollution"</p>
						</section>
					</div>

					<div class="back-presentation">
						<section class="grp-align">
							<figure>
								<img src="img/vitse.png" alt="vitse"/>
							</figure>
						</section>
						<section class="grp-align">
							<br/>
							<h4>VITSE François</h4>
							<h5>Directeur d'exploitation</h5>
							
							<p>"25 ans d'expérience dans la démolition, la dépollution 25 ans d'expérience dans la démolition, la dépollution 25 ans d'expérience dans la démolition, la dépollution 25 ans d'expérience dans la démolition, la dépollution"</p>
						</section>
					</div>
					
					<br/><br/>
					La société vous propose ses services en matière de démolition urbaine ou de démolition industrielle, de désamiantage, de dépollution de sol, de terrassement et de V.R.D.
					<br/>
					 L'entreprise dispose d'une grande expérience dans ces domaines d'activités. Faites confiance à des professionnels !<br/>
					 VRD France se tient à votre disposition pour un devis ou des renseignements supplémentaires.</p>
					<br/>
		</section>

		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
		<p id="ligne-footer">© 2017 - VRDFRANCE.COM</p>
	
	</body>
</html>